// ========================= [ Header styles ] =========================
.header {
    font-family: $fontMain;
    background-color: $bacgroundClr;

    &__container {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-left: 50px;

        .button__blue {
            background-color: $btnClr;
            transition: all 1s ease 0s;

            &:hover {
                color: $btnClr;
                background-color: $bacgroundClr;
                border: 1px solid $btnClr;
            }
        }
    }
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}
.button {
    display: block;
    white-space: nowrap;
    font-size: $fontSize;
    font-weight: $fontWeightRegular;
    line-height: 100%;
    border-radius: 4px;
    padding: 12px 19px;
    color: $bacgroundClr;
    border: 1px solid $btnClr;
}
.navbar {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {

    a {
        color: #000000;
        font-weight: $fontWeightExtraBold;
        font-size: 18px;
        line-height: 100%;
    }
}

// ========================== [ Menu styles ] ==========================
.menu {
    min-height: 32px;
    display: flex;
    gap: 50px;

    // .menu__item
    &__item {
        display: flex;
        position: relative;
        align-items: center;
    }

    // .menu__item-link
    &__item-link {
        color: $secondFontClr;
        font-weight: $fontWeightSemiBold;
        font-size: $fontSize;
        line-height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        transition: 1s color;

        .svg-link {
            margin-right: 8px;
        }

        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: $btnClr;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;
        }

        path {
            transition: 0.5s all ease;
        }

        &:hover {
            color: $btnClr;
            transition: 0.5s all ease;

            path {
                fill: $btnClr;
                transition: 0.5s all ease;
            }

            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $burgerColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 3;
            animation: fade 0.1s linear;
        }
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}
