.main {
    flex: 1 1 auto;
    background-color: $bacgroundClr;
}

/*--------------------------------- Payment section ---------------------------------*/
.payment {

    margin: 0 0 110px 0;

    @media (max-width: $breakpoint992) {
        margin: 0 0 80px 0;
    }

    @media (max-width: $breakpoint480) {
        margin: 0 0 30px 0;
    }
		// .payment__container

		&__container {
            position: relative;
            padding: 100px 10px 86px 10px;

            @media (max-width: $breakpoint768) {
                padding: 50px 10px 50px 10px;
                display: flex;
                flex-direction: column;
            }
		}

		// .payment__content

		&__content {
            position: relative;
            margin: 0px 0px 130px 0px;
            max-width: 530px;
            z-index: 2;

            @media (max-width: $breakpoint768) {
                margin: 0px 0px 30px 0px;
            }
		}

		// .payment__block-text

		&__block-text {
		}

        // .payment__image

        &__image {
            position: absolute;
            top: 0;
            right: -490px;

            @media (max-width: $breakpoint992) {
                max-width: 800px;
                right: -360px;
                margin: 100px 0 0 0;
            }

            @media (max-width: $breakpoint768) {
                max-width: 700px;
                width: 100%;
                margin: 0 0 30px 0;
                position: relative;
                top: 0;
                left: 0;
            }

            img {
                @media (max-width: $breakpoint992) {
                    max-width: 800px;
                }

                @media (max-width: $breakpoint768) {
                    max-width: 700px;
                    width: 100%;
                }
            }
        }

		// .payment__statistics

		&__statistics {
            position: relative;
            z-index: 2;
            max-width: 488px;
		}
}
.block-text {

		// .block-text__title

		&__title {
            margin-bottom: 15px;
            max-width: 370px;
            font-size: 48px;
            font-weight: $fontWeightBold;
            line-height: 130%;
            color: $mainClr;

            @media (max-width: $breakpoint768) {
                text-align: center;
                font-size: 36px;
            }
		}

		// .block-text__text

		&__text {
            margin-bottom: 62px;
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: $mainFontClr;

            @media (max-width: $breakpoint768) {
                text-align: center;
                margin-bottom: 30px;
            }
		}

        // .block-text__buttons

		&__buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;

            @media (max-width: $breakpoint768) {

            }
        
            @media (max-width: $breakpoint480) {
                justify-content: center;
                width: 100%;
                gap: 10px;
            }
		}

		// .block-text__button

		&__button {
            color: $btnClr;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 144px;
            transition: all 1s ease 0s;

            @media (max-width: $breakpoint480) {
                width: 100%;
            }

            &:hover {
                color: $bacgroundClr;
                background-color: $btnClr;

                svg {
                    transition: all 1s ease 0s;
                    transform: translateX(5px);
                    fill: $bacgroundClr;
                }
            }

            &:target {
                color: $bacgroundClr;
                background-color: $btnClr;
            }

            svg {
                margin-left: 7px;
                fill: $btnClr;
                transition: all 1s ease 0s;
            }
		}
}

.statistics-payment {
    display: flex;
    flex-direction: column;

    // .statistics-payment__title

    &__title {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 171%;
        text-transform: uppercase;
        color: $mainFontClr;
    }

    // .statistics-payment__body

    &__body {
    }
}
.body-statistics-payment {
    display: flex;
    flex-direction: row;
    gap: 82px;

    @media (max-width: $breakpoint768) {
        gap: 50px;
    }

    @media (max-width: $breakpoint480) {
        gap: 0;
        justify-content: space-between;
    }

    // .body-statistics-payment__item

    &__item {
    }

    // .body-statistics-payment__value

    &__value {
        margin-bottom: 12px;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: $mainClr;

        @media (max-width: $breakpoint768) {
            font-size: 32px;
        }
    
        @media (max-width: $breakpoint480) {
            font-size: 26px;
        }
    }

    // .body-statistics-payment__text

    &__text {
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: $secondFontClr;
    }
}

/*--------------------------------- Special section ---------------------------------*/
.special {

    // .special__container

    &__container {
    }

    // .special__body

    &__body {
        margin-bottom: 110px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;

        @media (max-width: 1115px) {
            gap: 20px;
        }

        @media (max-width: $breakpoint992) {
            margin-bottom: 80px;
        }

        @media (max-width: $breakpoint768) {
            margin-bottom: 50px;
        }

        @media (max-width: $breakpoint480) {
            gap: 10px;
        }
    }

    // .special__item

    &__item {
        padding: 60px 40px 93px 40px;
        display: flex;
        flex-direction: column;
        flex: 1 1 346px;
        background-color: $bacgroundClr;
        border: 1px solid $cardClr;
        border-radius: 8px;
        transition: all .5s ease 0s;
        &:first-child {
            padding: 0;
            border: none;
        }

        &:hover {
            transition: all .5s ease 0s;
            background-color: $secondCardClr;

            &:first-child {
                background-color: inherit;
            }

            .item-special-card__icon {
                transition: all .5s ease 0s;
                box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
            }
        }

        @media (max-width: $breakpoint992) {
            padding: 40px 20px 50px 20px;
        }

        @media (max-width: $breakpoint480) {
            padding: 30px 20px 40px 20px;
        }
    }
}
.item-special {
    justify-content: center;
    
    // .item-special__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 36px;
        line-height: 122%;
        color: $mainClr;

        
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }

    // .item-special__text

    &__text {
        font-size: 14px;
        line-height: 171%;
        color: $mainFontClr;

        
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }
}
.item-special-card {

    // .item-special-card__icon

    &__icon {
        margin-bottom: 40px;
        position: relative;
        height: 77px;
        width: 77px;
        border-radius: 50%;
        background-color: $secondCardClr;
        transition: all .5s ease 0s;

        img {
            position: absolute;
            top: 21px;
            left: 21px;
        }

        @media (max-width: $breakpoint992) {
            margin-bottom: 20px;
        }
    }

    // .item-special-card__title

    &__title {
        margin-bottom: 16px;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        color: $mainClr;
    }

    // .item-special-card__text

    &__text {
        font-size: 14px;
        line-height: 171%;
        color: $mainFontClr;
    }
}

/*--------------------------------- Trust section ---------------------------------*/

.trust {
    background-color: $trustedClr;

    // .trust__container

    &__container {

    }

    // .trust__body

    &__body {
        margin-bottom: 70px;
        padding: 50px 0px;

        @media (max-width: $breakpoint480) {
            margin-bottom: 30px;
        }
    }

    // .trust__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 28px;
        line-height: 100%;
        text-align: center;
        color: $mainClr;
    }

    // .trust__content

    &__content {
        margin: 46px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
        column-gap: 67px;

        @media (max-width: $breakpoint768) {
            row-gap: 30px;
            column-gap: 40px;
        }

        @media (max-width: $breakpoint480) {
            margin: 30px 0px 0px 0px;
            row-gap: 20px;
            width: 100%;
            column-gap: 0;
        }
    }

    // .trust__item

    &__item {
    }
}
.item-trust {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint480) {
        width: 100%;
    }

    // &:not(:nth-child(5)) {
    //     margin-right: 67px;
    // }

    // .item-trust__icon

    &__icon {
    }

    // .item-trust__title

    &__title {
        margin-left: 12px;
        font-weight: $fontWeightSemiBold;
        font-size: 14px;
        line-height: 100%;
        color: $mainClr;
    }
}

/*--------------------------------- Backed section ---------------------------------*/
.backed {

    // .backed__container

    &__container {
    }

    // .backed__body

    &__body {
        margin-bottom: 128px;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint480) {
            margin-bottom: 80px;
        }

        @media (max-width: $breakpoint480) {
            margin-bottom: 50px;
        }
    }

    // .backed__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 36px;
        line-height: 122%;
        color: $mainClr;

        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }

    // .backed__text

    &__text {
        margin-bottom: 45px;
        font-weight: $fontWeightRegular;
        font-size: 14px;
        line-height: 100%;
        color: $secondFontClr;

        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }

    // .backed__content

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 20px;

        @media (max-width: 1116px) {
            gap: 20px;
        }

        @media (max-width: $breakpoint480) {
            gap: 10px;
        }
    }

    // .backed__item

    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 255px;
        padding: 20px;
        background: $secondCardClr;
        border-radius: 4px;
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
            background: $bacgroundClr;
            box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
            filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
            border-radius: 4px;
        }

        @media (max-width: 1116px) {
            &:nth-child(even) {
                background: $bacgroundClr;
                box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
                border-radius: 4px;
            }

            &:nth-child(odd) {
                background: $secondCardClr;
                box-shadow: none;
                filter: none;
            }
        }

        @media (max-width: 841px) {
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(8) {
                background: $bacgroundClr;
                box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(7) {
                background: $secondCardClr;
                box-shadow: none;
                filter: none;
            }
        }

        @media (max-width: 566px) {
            &:nth-child(even) {
                background: $bacgroundClr;
                box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
            }

            &:nth-child(odd) {
                background: $secondCardClr;
                box-shadow: none;
                filter: none;
            }
        }
    }
}
.item-backed {

    // .item-backed__img

    &__img {
        margin-bottom: 15px;
        max-width: 215px;

        img {
            max-width: 100%;
        }
    }

    // .item-backed__name

    &__name {
        margin-bottom: 7px;
        font-weight: $fontWeightBold;
        font-size: 16px;
        line-height: 100%;
        color: $mainClr;
    }

    // .item-backed__social

    &__social {
    }
}
.social {
    display: flex;
    align-items: center;
    // .social__item

    &__item {
        &:first-child {
            margin-top: 5px;
            margin-right: 10px;
        }
    }
}