.main {
    flex: 1 1 auto;
    background-color: $bacgroundClr;
}

/*--------------------------------- Payment section ---------------------------------*/
.payment {

    margin-bottom: 110px;
		// .payment__container

		&__container {
            position: relative;
            padding: 100px 10px 86px 10px;
		}

		// .payment__content

		&__content {
            position: relative;
            margin: 0px 0px 130px 0px;
            max-width: 530px;
            z-index: 2;
		}

		// .payment__block-text

		&__block-text {
		}

        // .payment__image

        &__image {
            position: absolute;
            top: 0;
            right: -490px;
            // left: 397px;


            img {
                // object-fit: cover;
                // object-position: left;
            }
        }

		// .payment__statistics

		&__statistics {
            position: relative;
            z-index: 2;
            max-width: 488px;
		}
}
.block-text {

		// .block-text__title

		&__title {
            margin-bottom: 15px;
            max-width: 370px;
            font-size: 48px;
            font-weight: $fontWeightBold;
            line-height: 130%;
            color: $mainClr;
		}

		// .block-text__text

		&__text {
            margin-bottom: 62px;
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: $mainFontClr;
		}

        // .block-text__buttons

		&__buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
		}

		// .block-text__button

		&__button {
            color: $btnClr;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 144px;
            transition: all 1s ease 0s;

            &:hover {
                color: $bacgroundClr;
                background-color: $btnClr;
            }

            &:target {
                color: $bacgroundClr;
                background-color: $btnClr;
            }

            svg {
                margin-left: 7px;
                fill: $btnClr;

                &:hover {
                    fill: $bacgroundClr;
                }
            }
		}
}

.statistics-payment {
    display: flex;
    flex-direction: column;

    // .statistics-payment__title

    &__title {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 171%;
        text-transform: uppercase;
        color: $mainFontClr;
    }

    // .statistics-payment__body

    &__body {
    }
}
.body-statistics-payment {
    display: flex;
    flex-direction: row;
    gap: 82px;

    // .body-statistics-payment__item

    &__item {
    }

    // .body-statistics-payment__value

    &__value {
        margin-bottom: 12px;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: $mainClr;
    }

    // .body-statistics-payment__text

    &__text {
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: $secondFontClr;
    }
}

/*--------------------------------- Special section ---------------------------------*/
.special {

    // .special__container

    &__container {
    }

    // .special__body

    &__body {
        margin-bottom: 110px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;
    }

    // .special__item

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1 1 346px;
        padding: 60px 40px 93px 40px;
        background: $bacgroundClr;
        border: 1px solid $cardClr;
        border-radius: 8px;
        &:first-child {
            padding: 0;
            border: none;
        }
    }
}
.item-special {
    justify-content: center;
    
    // .item-special__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 36px;
        line-height: 122%;
        color: $mainClr;
    }

    // .item-special__text

    &__text {
        font-size: 14px;
        line-height: 171%;
        color: $mainFontClr;
    }
}
.item-special-card {

    padding: 60px 40px 93px 40px;
    background: $bacgroundClr;
    border: 1px solid $cardClr;
    border-radius: 8px;

    // .item-special-card__icon

    &__icon {
        margin-bottom: 40px;
        position: relative;
        height: 77px;
        width: 77px;
        border-radius: 50%;
        background-color: $secondCardClr;

        img {
            position: absolute;
            top: 21px;
            left: 21px;
        }
    }

    // .item-special-card__title

    &__title {
        margin-bottom: 16px;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        color: $mainClr;
    }

    // .item-special-card__text

    &__text {
        font-size: 14px;
        line-height: 171%;
        color: $mainFontClr;
    }
}

/*--------------------------------- Trust section ---------------------------------*/

.trust {
    background-color: $trustedClr;

    // .trust__container

    &__container {

    }

    // .trust__body

    &__body {
        margin-bottom: 70px;
        padding: 50px 0px;
    }

    // .trust__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 28px;
        line-height: 100%;
        text-align: center;
        color: $mainClr;
    }

    // .trust__content

    &__content {
        margin: 46px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
    }

    // .trust__item

    &__item {
        display: flex;
        flex-direction: column;
    }
}
.item-trust {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:not(:nth-child(5)) {
        margin-right: 67px;
    }

    // .item-trust__icon

    &__icon {
    }

    // .item-trust__title

    &__title {
        margin-left: 12px;
        font-weight: $fontWeightSemiBold;
        font-size: 14px;
        line-height: 100%;
        color: $mainClr;
    }
}

/*--------------------------------- Backed section ---------------------------------*/
.backed {

    // .backed__container

    &__container {
    }

    // .backed__body

    &__body {
        margin-bottom: 128px;
        display: flex;
        flex-direction: column;
    }

    // .backed__title

    &__title {
        font-weight: $fontWeightBold;
        font-size: 36px;
        line-height: 122%;
        color: $mainClr;
    }

    // .backed__text

    &__text {
        margin-bottom: 45px;
        font-weight: $fontWeightRegular;
        font-size: 14px;
        line-height: 100%;
        color: $secondFontClr;
    }

    // .backed__content

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 20px;
    }

    // .backed__item

    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 255px;
        padding: 20px;
        background: $secondCardClr;
        border-radius: 4px;
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
            background: $bacgroundClr;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
            filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
            border-radius: 4px;
        }
    }
}
.item-backed {

    // .item-backed__img

    &__img {
        margin-bottom: 15px;
        max-width: 215px;

        img {
            max-width: 100%;
        }
    }

    // .item-backed__name

    &__name {
        margin-bottom: 7px;
        font-weight: $fontWeightBold;
        font-size: 16px;
        line-height: 100%;
        color: $mainClr;
    }

    // .item-backed__social

    &__social {
    }
}
.social {
    display: flex;
    align-items: center;
    // .social__item

    &__item {
        &:first-child {
            margin-top: 5px;
            margin-right: 10px;
        }
    }
}

/*--------------------------------- Footer section ---------------------------------*/
.footer {
    background: $mainClr;

    // .footer__row

    &__row {
        padding: 97px 0 80px;
        display: flex;
        justify-content: space-between;
    }

    // .footer__column

    &__column {
        max-width: 350px;
        width: 100%;
    }

    // .footer__label

    &__label {
        padding: 0 0 20px 0;
        font-weight: $fontWeightExtraBold;
        font-size: 18px;
        line-height: 100%; /* 18/18 */
        color: $bacgroundClr;
    }

    // .footer__text

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 171.428571%; /* 24/14 */
        color: $bacgroundClr;
    }

    // .footer__title

    &__title {
        padding: 0 0 12px 0;
        font-weight: $fontWeightSemiBold;
        font-size: 16px;
        line-height: 100%; /* 16/16 */
        color: $bacgroundClr;
    }

    // .footer__subscribe

    &__subscribe {
        padding: 0 0 10px 0;
        position: relative;
        width: 100%;
    }

    // .footer__socials

    &__socials {
    }

    // .footer__social

    &__social {
        display: flex;
        align-items: center;
    }

    // .footer__social-item

    &__social-item {
        margin: 0 30px 0 0;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: $secondFontClr;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:last-child {
            margin: 0;
        }
    }

    // .footer__link

    &__link {
        font-size: 0;
    }
}
.form {

    // .form__label

    &__label {
        position: relative;
        display: flex;
        padding: 0 0 20px 0;
        font-weight: $fontWeightExtraBold;
        font-size: 18px;
        line-height: 100%; /* 18/18 */
    }

    // .form__input

    &__input {
        width: 100%;
        padding: 20px 60px 20px 20px;
        border-radius: 4px;
        outline: none;
    }

    // .form__button

    &__button {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 8px;
        top: 8px;
        background-color: $btnClr;
        border-radius: 4px;
    }

    // .form__text

    &__text {
        padding: 0 0 34px 0;
        font-weight: $fontWeightRegular;
        font-size: 14px;
        line-height: 171.428571%; /* 24/14 */
        color: $bacgroundClr;
    }
}
